/* @import url(https://fonts.google.com/specimen/Open+Sans); */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700px;
  margin: 0px;
}

/* HERO WRAPPER */
.hero-wrapper {
  background-image: url(../images/start_201811.jpg);
  background-size: cover;
  height: 837px;
  margin-top: -122px;
  overflow: hidden;
}

.hero-container {
  padding-top: 122px;
}

/* NAVBAR */
.navbar {
  display: grid;
  grid-template-areas: "logo ul";
  grid-template-columns: auto auto;
}

.logo {
  grid-area: logo;
  max-width: 141px;
  padding-left: 140px;
  padding-top: 43px;
  position: relative;
}

.icon-menu {
  display: none;
}

ul {
  color: white;
  float: right;
  font-size: 20px;
  grid-area: ul;
  line-height: 27px;
  list-style-type: none;
  padding-right: 117px;
  position: relative;
  top: 30px;
}

li {
  float: left;
}

li a {
  color: white;
  font-style: bolder;
  line-height: 27px;
  padding: 14px 23px; 
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.notification {
  background-color:#F57E7E;
  border-radius:70%;
  content: '';
  height: 22px;
  position: absolute;
  right: 245px;
  top: -5px;
  width: 22px;
}

.notification p {
  font-size: 11px;
  font-weight: 700px;
  left: 4.5px;
  line-height: 11px;
  position: absolute;
  top: -6px;
}

/* HERO CONTENT */
.hero-text {
  display: grid;
  grid-template-columns: auto 1132px auto;
  grid-template-rows: 2;
  grid-template-areas:  ". h1 ."
                        ". p .";
  margin-top: 231px;
  position: relative;
  text-align: center;
}

.hero-text h1 {
  color: #FFFFFF;
  font-size: 53px;
  font-weight: 700;
  grid-area: h1;
  margin-bottom: 32px;
  margin-top: 0;
  letter-spacing: 6.2px;
  line-height: 73px;
  text-align: center;
  text-transform: uppercase;
}

.hero-text p {
  color: #FFFFFF;
  font-size: 18px;
  grid-area: p;
  margin-top: 0px;
  line-height: 28px;
  padding: 0;
}

/* CARDS */
.card-container {
  display: grid;
  grid-gap: 16px;
  grid-template-areas: ". card1 card2 card3 .";
  grid-template-columns: 140px auto auto auto 140px;
  padding-top: 43px;
}

.card {
  display: grid;
  grid-template-rows: image 268px;
  grid-template-rows: card-content 317px;
  /* margin-bottom: 35px; */
  grid-gap: 35px;
}

.card1 {
  background: #F3E9E2;
  grid-area: card1;
}

.card2 {
  background: #D6E1EC;
  grid-area: card2;
}

.card3 {
  background: #DEE1EC;
  grid-area: card3;
}

.card1-image {
  border: 1px solid #707070;
  max-height: 268px;
  max-width: 536px;
  overflow: hidden;
}

.card2-image {
  border: 1px solid #707070;
  max-height: 268px;
  max-width: 536px;
  overflow: hidden;
}

.card3-image {
  border: 1px solid #707070;
  max-height: 268px;
  max-width: 536px;
  overflow: hidden;
}

.card a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 31px;
  text-decoration-color: #FFFFFF;
  text-decoration-style: double;
  text-transform: uppercase;
}

.card-content {
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 31px;
  padding-left: 32px;
  padding-right: 29px;
}

.card-content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 13px;
  margin-top: 0px;
  line-height: 28px;
}

span {
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 1.5px;
}

/* *** MOBILE *** */
@media (max-width: 414px) {

  /* HERO WRAPPER */
  .hero-wrapper {
    background-size: cover;
    height: 233px;
    margin-top: 0px;
    width: 414px;
  }

  .hero-container {
    width: 414px;
    padding-top: 0;
  }

  /* NAVBAR */
  .navbar {
    display: grid;
    grid-template-areas: "logo icon-menu";
    grid-template-columns: auto auto;
    padding-top: 0px;
  }

  .logo {
    grid-area: logo;
    max-width: 108px;
    padding-left: 35px;
    padding-top: 23px;
    position: relative;
  }

  .icon-menu {
    display: inherit;
    grid-area: icon-menu;
    padding-top: 25px;
    position: relative;
    right: -120px;
    max-width: 33px;
  }
  
  ul {
    display: none;
  }

  /* HERO CONTENT */
  .hero-text {
    display: grid;
    grid-template-columns: 35px auto 35px;
    grid-template-rows: 2;
    grid-template-areas:  ". h1 ."
                          ". p .";
    grid-gap: 0px;
    margin-top: 205px;
    position: absolute;
    text-align: center;
  }

  .hero-text h1 {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    grid-area: h1;
    margin-bottom: 10px;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .hero-text p {
    color: #000000;
    font-size: 14px;
    grid-area: p;
    margin-bottom: 25px;
    margin-top: 0px;
    line-height: 28px;
    padding: 0;
  }

  /* CARDS */
  .card-container {
    display: grid;
    grid-gap: 0px;
    grid-template-areas: none;
    grid-template-columns: 38px auto 38px;
    grid-template-rows: auto auto auto;
    padding-top: 312px;
  }

  .card {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: image 170px;
    grid-template-rows: card-content 262px;
    margin-bottom: 35px;
  }

  .card1 {
    background: #F3E9E2;
    grid-column: 2;
    grid-row: 1;
  }
  
  .card2 {
    background: #D6E1EC;
    grid-column: 2;
    grid-row: 2;
  }
  
  .card3 {
    background: #DEE1EC;
    grid-column: 2;
    grid-row: 3;
  }

  .card1-image {
    border: 1px solid #707070;
    max-height: 168px;
    overflow: hidden;
  }
  
  .card2-image {
    border: 1px solid #707070;
    max-height: 168px;
    overflow: hidden;
  }
  
  .card3-image {
    border: 1px solid #707070;
    max-height: 170px;
    overflow: hidden;
  }

  .card-content p {
    font-size: 14px;
    margin-bottom: 28px;
    line-height: 25px;
  }
}
